:root {
  --main-txt-clr: #2e2f42;
  --navy-blue-clr: #2e2f42;
  --bcg-clr: #e5e5e5;
  --white-clr: #ffffff;
  --iris-clr: #4d5ae5;
  --ocean-clr: #404bbf;
  --green-clr: #31d0aa;
  --slate-clr: #434455;
  --light-slate-clr: #8e8f99;
  --accent-clr: #e7e9fc;
  --navy-blue-modal-clr: #f4f4fd;
  --grey-clr: #f4f4fd;
  --dairy-clr: #fcfcfc;
  --grey-color: #d9d9d9;
  --modal-bcg: rgba(46, 47, 66, 0.4);
  --anim-fast: 250ms ease-in;
  --anim-slow: 1000ms ease-in-out;

  /**
  |============================
  | Fonts
  |============================
*/

  --main-font: "Roboto", sans-serif;
  --secondari-font: "Raleway", sans-serif;

  /* Reset start */
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
/* Hidden title */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/**
  |============================
  | body
  |============================
*/
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-clr);
  background-color: var(--white-clr);
}
.container {
  /* Phone Styles and > */
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}
/* Tablet Styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/**
  |============================
  | header
  |============================
*/

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid #e7e9fc;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-nav {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
}
.header-nav {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.header-item {
  position: relative;
}
.header-item::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  display: block;

  transition: background-color var(--anim-fast);
}
.header-item.current {
  color: var(--ocean-clr);
}

.header-item.current::after {
  background-color: var(--ocean-clr);
}

@media only screen and (min-width: 768px) {
  .address-link {
    display: block;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color var(--anim);
  }
}
.address-mail {
  /* margin-right: 40px; */
  display: block;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}
@media only screen and (max-width: 1023px) {
  .address-mail {
    padding-bottom: 0;
  }
}
.contacts-tel {
  display: block;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}
@media only screen and (max-width: 1023px) {
  .contacts-tel {
    padding-top: 0;
  }
}

/* Header Logo  */

.header-logo {
  margin-right: 76px;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media only screen and (max-width: 1024px) {
  .header-logo {
    margin-right: 120px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-clr);
}
.logo-dark {
  font-family: "Raleway", sans-serif;
  color: var(--navy-blue-clr);
}
.logo-light {
  font-family: "Raleway", sans-serif;
  color: var(--navy-blue-modal-clr);
}

.header-item:hover,
.header-item:focus {
  font-weight: 500;
  color: var(--ocean-clr);
}

.header-item {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-clr);

  transition: color var(--anim-fast);
}
.contacts-list {
  display: flex;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (max-width: 1023px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: inherit;
    gap: 40px;
  }
}
.contacts-list :hover,
.contacts-list :focus {
  font-style: normal;
  color: var(--ocean-clr);
}
.contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-clr);
  transition: color var(--anim-fast);
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .contacts {
    font-size: 12px;
  }
}
/**
  |============================
  | Header box
  |============================
*/

/**
  |============================
  | Hero box
  |============================
*/
.hero-title {
  max-width: 320px;

  /* max-width: 496px; */
}

.hero-container {
}
.hero-bcg {
  background-color: var(--navy-blue-clr);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

/* Phone */
@media only screen and (max-width: 428px) {
  .hero-bcg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/hero/dark-bgmob@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bcg {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bcg/hero/dark-bgmob@2x.jpg);
    }
  }
}

/* Tab */
@media only screen and (min-width: 429px) and (max-width: 768px) {
  .hero-bcg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/hero/dark-bgtab@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bcg {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bcg/hero/dark-bgtab@2x.jpg);
    }
  }
}
 

/* Desktop */
@media only screen and (min-width: 769px) {
  .hero-bcg {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bcg/hero/office@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-bcg {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bcg/hero/office@2x.jpg);
    }
  }
}
.section-hero {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.hero-header {
  font-weight: 700;
  font-size: 36px;
  /* font-size: 56px; */
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-clr);
  margin-bottom: 72px;
  /* margin-bottom: 48px; */
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 420px) {
  .hero-header {
    max-width: 320px;
  }
} 
@media only screen and (min-width: 768px) {
  .hero-header {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-header {
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-bcg {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}
/* Hero Button */
.btn-color {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-clr);
  cursor: pointer;
  background-color: var(--iris-clr);
  min-width: 169px;
  min-height: 56px;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 4px;

  transition: background-color var(--anim-fast), box-shadow var(--anim-fast);
}
.btn-color:hover,
.btn-color:focus {
  font-family: inherit;
  background-color: var(--ocean-clr);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/**
  |============================
  | Hero
  |============================
*/
.space {
  /* position: absolute; */
  width: 428px;
  height: 18px;
  left: 0px;
  top: 529px;
  margin-top: 27px;
  margin-bottom: 51px;

  background: var(--grey-color);
}
@media only screen and (min-width: 428px) {
  .space {
    display: none;
  }
}

/**
  |============================
  | skills box
  |============================
*/

@media only screen and (min-width: 1157px) {
  .rectangle {
    display: none;
  }
}

.skills {
  background-color: var(--white-clr);
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .skills {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .skills-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.skills-header {
  margin-bottom: 8px;
}

.skills-header {
  font-weight: 500;
  font-size: 36px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: var(--navy-blue-clr);
  margin-bottom: 8px;
}
@media only screen and (max-width: 767px) {
  .skills-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (min-width: 768px) {
  .skills-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 1158px) {
  .skills-header {
    font-size: 20px;
  }
}
.skills-text {
  color: var(--slate-clr);
}
@media only screen and (max-width: 425px) {
  .skills-text {
    
  }
}
.feature-one {
}
@media only screen and (max-width: 428px) {
  .feature-one {
    /* width: 396px;
    height: 96px; */
  }
}
@media only screen and (min-width: 768px) {
  .feature-one {
    width: calc((100% - 24px) / 2);
  }
}

.rectangle {
  width: 264px;
  height: 112px;
  display: none;
  background: var(--grey-clr);
  border-radius: 4px;
  margin-bottom: 8px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1158px) {
  .rectangle {
    display: flex;
  }
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
  |============================
  | What are we doing box
  |============================
*/

.bcg-team {
  line-height: 1.11;
  background-color: var(--navy-blue-modal-clr);
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .bcg-team {
    padding-top: 120px;
  padding-bottom: 120px;
  }
}
@media only screen and (max-width: 1158px) {
  .bcg-img {
    display: none;
  }
}
.bcg-img {
  background-color: var(--white-clr);
}
.header-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-clr);
  margin-bottom: 72px;
}
.header-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-clr);
  margin-bottom: 72px;
}

.img-list {
  display: flex;
  gap: 24px;
}
.img-item {
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

/**
  |============================
  | What are we doing?
  |============================
*/
/**
  |============================
  | Our Team box
  |============================
*/
.img-team {
  background-color: var(--navy-blue-modal-clr);
}

.img-team {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 264px;
  align-items: center;
  margin: auto;

  /* display: flex;
  gap: 24px; */

  /* Tab */
}
@media only screen and (min-width: 768px) {
  .img-team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 64px 24px;
    max-width: 552px;
  }
}
/* Desktop */
@media only screen and (min-width: 1158px) {
  .img-team {
    display: flex;
    flex-direction: row;
    gap: 24px;
    min-width: 1128px;
  }
}
.team-personal {
  background-color: var(--white-clr);
  padding: 32px 0;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-clr);
  margin-bottom: 8px;
}
.team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--slate-clr);
  margin-bottom: 8px;
}
.team-card {
  /* width: calc((100%-72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-bcg-img {
  padding-bottom: 120px;
}
/* Socials */
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris-clr);
  border-radius: 50%;

  transition: background-color var(--anim-fast);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--ocean-clr);
}
.team-icon {
  fill: var(--navy-blue-modal-clr);
}

/**
  |============================
  | Button filtr
  |============================
*/
.btn:hover,
.btn:focus {
  background-color: var(--ocean-clr);
  color: var(--white-clr);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: var(--navy-blue-modal-clr);
  border-radius: 4px;
  padding: 12px 24px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  color: var(--iris-clr);
  border: 1px solid var(--accent-clr);

  transition: color var(--anim-fast), box-shadow var(--anim-fast),
    background-color var(--anim-fast), border var(--anim-fast);
}

.btn-list {
  display: flex;
  flex-wrap: wrap;

  gap: 24px;
margin-top: 48px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .btn-list {
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1158px) {
  .btn-list {
    margin-top: 100px;
    margin-bottom: 72px;
  }
}
/**
  |============================
  | Portfolio
  |============================
*/
.item {
  text-align: start;
  font-size: 20px;
}
@media only screen and (min-width: 428px) {
  .item {
    text-align: start;
  }
}
.item 
.section {
  padding: 96px 0 120px;
}

.portfolio .container-list {
  flex-wrap: wrap;
  row-gap: 48px;
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio .container-list {
    row-gap: 48px;
  }
}

.container-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .container-list {
    display: flex;
    flex-direction: row;
    max-width: 768px;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .container-list {
    display: flex;
    flex-direction: row;
    max-width: 1128px;
    gap: 24px;
  }
}

.cards {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .cards {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .cards {
    width: calc((100% - 48px) / 3);
  }
}
.contant {
  padding: 32px 16px;
  border: 1px solid var(--accent-clr);
  border-top: none;
}
.cards-link:hover,
.cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.cards-link {
  display: block;
  transition: box-shadow var(--anim-fast);
}
.card-box {
  position: relative;
  overflow: hidden;
}
.cards-link:focus .overlay {
  transform: translate(0);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0%;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px 164px;
  background-color: var(--iris-clr);

  transition: transform var(--anim-fast);
}
.cards:hover .overlay {
  transform: translate(0);
}
.overlay-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-clr);
  text-align: center;
}

/**
  |============================
  | Customers
  |============================
*/
.section-custom {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media only screen and (min-width: 1158px) {
  .section-custom {
    padding-top: 120px;
  padding-bottom: 120px;
  }
} 
.title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-txt-clr);
  margin-bottom: 72px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
  /* align-items: center;
  gap: 24px; */
}
@media only screen and (min-width: 768px) {
  .clients-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}
.clients-item {
  width: calc((100%-120px) / 6);
  width: 168px;
  height: 88px;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate-clr);
  border-radius: 4px;
  color: var(--light-slate-clr);

  transition: border-color var(--anim-fast), color var(--anim-fast);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--ocean-clr);
  color: var(--ocean-clr);
}

.clients-icon {
  fill: currentColor;
}

/**
  |============================
  | Footer box
  |============================
*/
.footer-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
/* @media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  }
} */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .custom-container {
    max-width: 552px;
    gap: 72px 24px;
    justify-content: start;
  }
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1158px) {
  .left-side {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
  }
}

.footer-txt {
}
.footer {
  background-color: var(--navy-blue-clr);
  padding: 100px 0;
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-clr);
  width: 264px;
}
.logo-ftr {
  display: inline-block;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .logo-ftr {
    margin-right: auto;
  }
}
@media only screen and (max-width: 1157px) {
  .social-title {
    text-align: start;
  }
}
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-clr);
  margin-bottom: 16px;

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .social-title {
    text-align: start;
  }
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris-clr);
  border-radius: 50%;

  transition: background-color var(--anim-fast);
}

.footer-team-icon {
  fill: var(--navy-blue-modal-clr);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green-clr);
}
@media only screen and (min-width: 1158px) {
  .subscribe {
    margin-left: 80px;
  }
}

.footer-subscribe {
  display: flex;

  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
.subscribe-label {
  /* margin-right: 24px; */
}
@media only screen and (min-width: 1158px) {
  .footer-subscribe {
    flex-wrap: nowrap;
    gap: 24px;
  }
}
@media only screen and (max-width: 1157px) {
  .subscribe-label {
    /* margin-right: 8px; */
  }
}

.footer-text {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: var(--white-clr);
  padding-left: 16px;
}
@media only screen and (max-width: 427px) {
  .footer-text {
    width: 310px;
  }
}

@media only screen and (min-width: 428px) and (max-width: 767px) {
  .footer-text {
    width: 398px;
  }
}
input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-clr);
  /* padding: 8px 16px; */
}
.subscribe-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-clr);

  background-color: var(--iris-clr);
  min-width: 165px;
  min-height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color var(--anim-fast), box-shadow var(--anim-fast);
}
.subscribe-icon {
  fill: currentColor;
}
/**
  |============================
  | Modal Styles
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-bcg);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 200ms ease, visibility 200ms ease;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 400ms;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  opacity: 1;
  width: 392px;

  min-height: 576px;
  background-color: var(--dairy-clr);
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--anim-slow), opacity var(--anim-slow);
}
@media only screen and (max-width: 424px) {
  .modal {
    max-width: 325px;
  }
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(360deg) scale(0.2);
  opacity: 0;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean-clr);
  color: var(--white-clr);
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  box-sizing: border-box;
  color: var(--navy-blue-clr);
  background: var(--accent-clr);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--anim-fast), color var(--anim-fast);
}
.modal-icon {
  fill: currentColor;
}

.form {
  position: relative;
  /* margin-top: 72px; */
}
.form-head-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-head {
  display: block;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-clr);
}
.form-container {
  position: relative;
  margin-bottom: 8px;
}
.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-clr);
  margin-bottom: 4px;
}
.form-input {
  height: 40px;
  width: 100%;
  padding: 0 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: var(--anim-fast);
}
/* .form-comment:focus,
.form-input:focus {
  border-color: var(--iris-clr);
} */
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--navy-blue-clr);
}
/* .form-input:focus ~ .form-icon {
  fill: var(--iris-clr);
} */

@media only screen and (min-width: 1158px) {
  .form-container {
    .form-comment:focus,
    .form-input:focus {
      border-color: var(--iris-clr);
    }
    .form-input:focus ~ .form-icon {
      fill: var(--iris-clr);
    }
  }
}
.form-comment {
  display: block;
  width: 100%;
  min-height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  resize: vertical;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: var(--anim-fast);
  resize: none;
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: var(--light-slate-clr);
}

.form-label-accept {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 14px;
  margin-bottom: 24px;
}

.accept-box {
  appearance: none;
  width: 16px;
  height: 16px;

  border: 1px solid var(--light-slate-clr);
  border-radius: 2px;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;

  transition: var(--anim-fast);
  cursor: pointer;
}
.accept-box:checked {
  background-color: var(--ocean-clr);
  border-color: var(--ocean-clr);
  background-size: 10px;
}
.accept-text {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--light-slate-clr);
  margin-bottom: 24px;
  padding-top: 24px;
}
.vector {
}
.accept-link {
  color: var(--iris-clr);
}
.btn-color {
}

/* Mobile Menu */
.mobile-btn-open {
  stroke: currentColor;
}
.menu-toggle-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  box-sizing: border-box;
  color: var(--navy-blue-clr);
  background: var(--accent-clr);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--anim-fast), color var(--anim-fast);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding: 80px 40px 40px;
  background-color: var(--white-clr);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.mobile-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue-clr);
}
.studio {
  color: var(--ocean-clr);
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: var(--ocean-clr);
}

.mobile-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--ocean-clr);
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
  .mobile-tel {
    font-size: 22px;
  }
}
.mobile-social {
  gap: 56px;
}
@media only screen and (max-width: 424px) {
  .mobile-social {
    gap: 28px;
  }
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-mail {
  color: var(--slate-clr);
}
.mobile-tel:hover,
.mobile-tel:focus {
  color: var(--iris-clr);
}
.mobile-mail:hover,
.mobile-mail:focus {
  color: var(--iris-clr);
}
